

.header {
  padding: 10px;
  background: #e5e5e5;
  text-align: center;
  height: 15vh;
}

.avatar {
  text-decoration: underline;
  font-size: 0.7em;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #f8f8f8;
  width: 100%;
  height: 5vh;

  .left {
    width: 80%;
    display: inline-block;
    input { 
      width: 100%;
    }
  }

  
  .right{
    width: 8%;
    display: inline-block;
  }
}

